<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Above average salary list</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h3>Danh sách người có mức lương lớn hơn mức lương trung bình</h3>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>fullname</th>
            <th>job</th>
            <th>gender</th>
            <th>city</th>
            <th>salary</th>
            <th>birthday</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${personList}">
            <td th:text="${person.id}">1</td>
            <td th:text="${person.fullName}">Tommy</td>
            <td th:text="${person.job}">Musician</td>
            <td th:text="${person.gender}">Male</td>
            <td th:text="${person.city}">HCM City</td>
            <td th:text="${person.salary}">1000</td>
            <td th:text="${person.birthday}">1977/02/25</td>
        </tr>
        </tbody>
    </table>
</body>
</html>